/* top-level elements */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Helvetica;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

div {
	cursor: default;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/* debug information */

#debug {
	position: absolute;
	top: 20px;
	left: 20px;
	
	background: rgba(0, 0, 0, 0.1);
	color: rgb(0, 255, 0);
	z-index: 5;
	
	cursor: default;
}

/* mouse tracking surface */

#mouse-tracker {

	position: absolute;
	top: 0px;
	left: 0px;
	
	background: transparent;
	z-index: 10;
	
	cursor: default;
}

