/* top-level elements */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Helvetica;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

div {
	cursor: default;
}

/* helpful general classes */

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.key {
	border: solid 1px white;
	border-radius: 5px;
	background: black;
	padding: 0px 5px 0px 5px;
	width: 10px;
}

.center {
	text-align: center;
}

/* debug information */

#debug {
	position: absolute;
	top: 100px;
	right: 20px;
	
	background: rgba(0, 0, 0, 0.1);
	color: rgb(0, 255, 0);
	z-index: 5;
	
	cursor: default;
}

/* HUD commentary area */

#comment {
	position: absolute;
	bottom: 104px;
	left: 20px;
	
	width: 450px;
	
	background: transparent;
	
	overflow: hidden;

	font-size: 16pt;
	font-variant: small-caps;

	z-index: 5;
}

#comment div {
	margin-top: 10px;
	border-radius: 5px;
	color: rgb(0, 0, 0);
	padding: 5px;
}

.player {
	background-color: rgba(192, 255, 192, 0.5);
}

.ghost {
	background-color: rgba(255, 192, 192, 0.5);
}

/* HUD legend */

#legend {
	position: absolute;
	bottom: 20px;
	left: 20px;

	background: rgba(0, 0, 0, 0.5);
	color: white;
	
	width: 450px;
	height: 74px;
	
	font-size: 12pt;
	font-variant: small-caps;

	z-index: 5;
}

#legend .space5 {
	margin-right: 5px;
}

#legend .space10 {
	margin-right: 10px;
}

#legend div {
	margin-bottom: 8px;
}

/* HUD readouts */

#readout {

	position: absolute;
	bottom: 20px;
	right: 20px;

	background: rgba(0, 0, 0, 0.5);
	color: white;
	
	width: 64px;
	height: 208px;
	
	font-size: 12pt;
	font-variant: small-caps;
	
	padding: 2px;

	z-index: 5;
}

#readout .section {
	width: 64px;
	height: 48px;
	border: solid 1px white;
	padding: 1px;
}

#readout .label {
	text-align: left;
}

#readout .value {
	text-align: right;
	font-size: 150%;
}

/* HUD prompts */

#prompts {
	position: absolute;

	background: transparent;
	color: white;
	
	font-size: 20pt;
	font-variant: small-caps;

	z-index: 5;
}

#prompts p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* mouse tracking surface */

#tracker {

	position: absolute;
	top: 0px;
	left: 0px;
	
	background: transparent;
	z-index: 10;
	
	cursor: default;
}

/* modal message */

#message {

	position: absolute;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 32px;
	font-variant: small-caps;
	cursor: default;
	z-index: 15;

}
